In [1]:
import pandas as pd
import json
import numpy as np
from secret import googlemaps_creds
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Get zillow price data

In [2]:
zillow = pd.read_csv('/home/mrs/housing/zillow/Zip_MedianSoldPrice_AllHomes.csv')
zillow.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06
0,61639,10025,New York,NY,New York,New York,1,175000.0000,NaN,NaN,...,975000.0,1016000.0,962750.0000,1.010000e+06,1079500.0,940500.0000,852750.0000,824746.5,804172.55,883423.95
1,84654,60657,Chicago,IL,Chicago,Cook,2,137911.7647,137900.0,133925.0,...,382500.0,372550.0,363975.0000,3.747250e+05,340150.0,348350.0000,397000.0000,403750.0,395250.00,405875.00
2,61637,10023,New York,NY,New York,New York,3,403823.5294,355025.0,NaN,...,874375.0,869337.5,864287.5000,8.590000e+05,861800.0,850900.0000,853700.0000,887608.0,901530.60,918227.40
3,84616,60614,Chicago,IL,Chicago,Cook,4,168250.0000,191675.0,189250.0,...,456150.0,467650.0,469750.0000,4.551500e+05,464175.0,486425.0000,498750.0000,487000.0,460375.00,445125.00
4,61616,10002,New York,NY,New York,New York,5,NaN,NaN,NaN,...,638100.0,NaN,648076.9231,6.338235e+05,NaN,786153.8462,841764.7059,822000.0,NaN,NaN

In [3]:
zillow = zillow.rename(columns={'RegionName':'zip_code'})
zillow.columns = [c.lower() for c in zillow.columns]
zillow.head()

,regionid,zip_code,city,state,metro,countyname,sizerank,1996-04,1996-05,1996-06,...,2015-09,2015-10,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06
0,61639,10025,New York,NY,New York,New York,1,175000.0000,NaN,NaN,...,975000.0,1016000.0,962750.0000,1.010000e+06,1079500.0,940500.0000,852750.0000,824746.5,804172.55,883423.95
1,84654,60657,Chicago,IL,Chicago,Cook,2,137911.7647,137900.0,133925.0,...,382500.0,372550.0,363975.0000,3.747250e+05,340150.0,348350.0000,397000.0000,403750.0,395250.00,405875.00
2,61637,10023,New York,NY,New York,New York,3,403823.5294,355025.0,NaN,...,874375.0,869337.5,864287.5000,8.590000e+05,861800.0,850900.0000,853700.0000,887608.0,901530.60,918227.40
3,84616,60614,Chicago,IL,Chicago,Cook,4,168250.0000,191675.0,189250.0,...,456150.0,467650.0,469750.0000,4.551500e+05,464175.0,486425.0000,498750.0000,487000.0,460375.00,445125.00
4,61616,10002,New York,NY,New York,New York,5,NaN,NaN,NaN,...,638100.0,NaN,648076.9231,6.338235e+05,NaN,786153.8462,841764.7059,822000.0,NaN,NaN

We want to tidy up this dataset - the month columns need to be converted into one column.
Will use pandas.melt to magic our way into that.

In [4]:
cols = zillow.columns.tolist()

In [5]:
zillow = pd.melt(zillow
                 , id_vars=['zip_code', 'city', 'state']
                 , value_vars=cols[8:257]
                 , value_name='median_price'
                 , var_name='month'
                )

In [6]:
zillow.month = pd.DatetimeIndex(zillow.month).to_period('M')

In [7]:
zillow.head()

   zip_code      city state   month  median_price
0     10025  New York    NY 1996-05           NaN
1     60657   Chicago    IL 1996-05      137900.0
2     10023  New York    NY 1996-05      355025.0
3     60614   Chicago    IL 1996-05      191675.0
4     10002  New York    NY 1996-05           NaN

# Get business data

In [8]:
with open('yelp/yelp_academic_dataset_business.json') as f:
    data = [json.loads(r.strip('\n')) for r in f.readlines()]

In [9]:
biz = pd.DataFrame(data)
biz.head()

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,"{'Waiter Service': False, 'Good For Groups': T...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Wednesday': {'open': '11:00', 'close': '21:0...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business
1,"{'Accepts Credit Cards': True, 'Happy Hour': T...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business
2,{'Good for Kids': True},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],False,5,2.5,PA,business
3,"{'Noise Level': 'average', 'Price Range': 2, '...",mVHrayjG3uZ_RLHkLj-AMg,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,"414 Hawkins Ave\nBraddock, PA 15104","{'Wednesday': {'open': '10:00', 'close': '19:0...",40.408830,-79.866211,Emil's Lounge,[],True,26,4.5,PA,business
4,"{'Takes Reservations': True, 'Accepts Credit C...",mYSpR_SLPgUVymYOvTQd_Q,"[Active Life, Golf]",Braddock,"1000 Clubhouse Dr\nBraddock, PA 15104","{'Wednesday': {'open': '11:00', 'close': '20:0...",40.403405,-79.855782,Grand View Golf Club,[],True,3,5.0,PA,business

# Parse categories

Need to parse out the categories so we can pull out the important ones for use in modeling later.
Categories are stored as a list for each business and are obviously not unique across businesses.
So, I take the approach of turning the category series into a list of lists. Then, I pop the first element and extend it by each other element.

But this has many duplicates so I use set to dedupe.

In [10]:
category_list = biz.categories.tolist()
print(len(category_list))
element = category_list.pop()
for c in category_list:
    element.extend(c)
    
categories = sorted(list(set(element)))
len(categories)

85901

1017

In [11]:
categories

['3D Printing',
 'ATV Rentals/Tours',
 'Accessories',
 'Accountants',
 'Active Life',
 'Acupuncture',
 'Addiction Medicine',
 'Adult',
 'Adult Education',
 'Adult Entertainment',
 'Advertising',
 'Afghan',
 'African',
 'Air Duct Cleaning',
 'Airlines',
 'Airport Lounges',
 'Airport Shuttles',
 'Airport Terminals',
 'Airports',
 'Airsoft',
 'Allergists',
 'Alsatian',
 'Amateur Sports Teams',
 'American (New)',
 'American (Traditional)',
 'Amusement Parks',
 'Anesthesiologists',
 'Animal Shelters',
 'Antiques',
 'Apartments',
 'Appliances',
 'Appliances & Repair',
 'Appraisal Services',
 'Aquarium Services',
 'Aquariums',
 'Arabian',
 'Arcades',
 'Archery',
 'Architects',
 'Argentine',
 'Art Classes',
 'Art Galleries',
 'Art Museums',
 'Art Restoration',
 'Art Schools',
 'Art Supplies',
 'Art Tours',
 'Artificial Turf',
 'Arts & Crafts',
 'Arts & Entertainment',
 'Asian Fusion',
 'Assisted Living Facilities',
 'Auction Houses',
 'Audiologist',
 'Australian',
 'Austrian',
 'Auto Customization',
 'Auto Detailing',
 'Auto Glass Services',
 'Auto Insurance',
 'Auto Loan Providers',
 'Auto Parts & Supplies',
 'Auto Repair',
 'Auto Security',
 'Auto Upholstery',
 'Automotive',
 'Awnings',
 'Ayurveda',
 'Baby Gear & Furniture',
 'Backshop',
 'Baden',
 'Badminton',
 'Bagels',
 'Bail Bondsmen',
 'Bakeries',
 'Bangladeshi',
 'Bankruptcy Law',
 'Banks & Credit Unions',
 'Barbeque',
 'Barbers',
 'Barre Classes',
 'Bars',
 'Bartenders',
 'Bartending Schools',
 'Baseball Fields',
 'Basketball Courts',
 'Basque',
 'Battery Stores',
 'Batting Cages',
 'Bavarian',
 'Beach Equipment Rentals',
 'Beaches',
 'Beauty & Spas',
 'Bed & Breakfast',
 'Beer Bar',
 'Beer Garden',
 'Beer Gardens',
 'Beer Hall',
 'Beer, Wine & Spirits',
 'Belgian',
 'Bespoke Clothing',
 'Beverage Store',
 'Bike Rentals',
 'Bike Repair/Maintenance',
 'Bike Sharing',
 'Bikes',
 'Bingo Halls',
 'Bird Shops',
 'Bistros',
 'Blood & Plasma Donation Centers',
 'Blow Dry/Out Services',
 'Boat Charters',
 'Boat Dealers',
 'Boat Repair',
 'Boat Tours',
 'Boating',
 'Body Shops',
 'Bookkeepers',
 'Books, Mags, Music & Video',
 'Bookstores',
 'Boot Camps',
 'Botanical Gardens',
 'Bowling',
 'Boxing',
 'Brasseries',
 'Brazilian',
 'Breakfast & Brunch',
 'Breweries',
 'Brewing Supplies',
 'Bridal',
 'British',
 'Bubble Tea',
 'Buddhist Temples',
 'Buffets',
 'Building Supplies',
 'Burgers',
 'Burmese',
 'Bus Tours',
 'Buses',
 'Business Consulting',
 'Business Law',
 'Butcher',
 'CPR Classes',
 'CSA',
 'Cabaret',
 'Cabinetry',
 'Cafes',
 'Cafeteria',
 'Cajun/Creole',
 'Cambodian',
 'Campgrounds',
 'Canadian (New)',
 'Candy Stores',
 'Cannabis Clinics',
 'Cannabis Dispensaries',
 'Cannabis Tours',
 'Cantonese',
 'Car Auctions',
 'Car Buyers',
 'Car Dealers',
 'Car Rental',
 'Car Share Services',
 'Car Stereo Installation',
 'Car Wash',
 'Cardio Classes',
 'Cardiologists',
 'Cards & Stationery',
 'Career Counseling',
 'Caribbean',
 'Caricatures',
 'Carpenters',
 'Carpet Cleaning',
 'Carpet Installation',
 'Carpeting',
 'Casinos',
 'Castles',
 'Caterers',
 'Challenge Courses',
 'Champagne Bars',
 'Check Cashing/Pay-day Loans',
 'Cheese Shops',
 'Cheesesteaks',
 'Chicken Shop',
 'Chicken Wings',
 'Child Care & Day Care',
 'Childbirth Education',
 'Childproofing',
 "Children's Clothing",
 "Children's Museums",
 'Chimney Sweeps',
 'Chinese',
 'Chiropractors',
 'Chocolatiers & Shops',
 'Choirs',
 'Christmas Markets',
 'Christmas Trees',
 'Churches',
 'Cinema',
 'Climbing',
 'Clock Repair',
 'Clowns',
 'Cocktail Bars',
 'Coffee & Tea',
 'Coffee & Tea Supplies',
 'Coffee Roasteries',
 'Coffeeshops',
 'College Counseling',
 'Colleges & Universities',
 'Colombian',
 'Colonics',
 'Comedy Clubs',
 'Comfort Food',
 'Comic Books',
 'Commercial Real Estate',
 'Commercial Truck Dealers',
 'Commercial Truck Repair',
 'Community Centers',
 'Community Gardens',
 'Community Service/Non-Profit',
 'Computers',
 'Contract Law',
 'Contractors',
 'Convenience Stores',
 'Cooking Classes',
 'Cooking Schools',
 'Cosmetic Dentists',
 'Cosmetic Surgeons',
 'Cosmetics & Beauty Supply',
 'Cosmetology Schools',
 'Costumes',
 'Counseling & Mental Health',
 'Countertop Installation',
 'Country Clubs',
 'Country Dance Halls',
 'Couriers & Delivery Services',
 'Courthouses',
 'Creperies',
 'Criminal Defense Law',
 'Cryotherapy',
 'Cuban',
 'Cultural Center',
 'Cupcakes',
 'Currency Exchange',
 'Curry Sausage',
 'Custom Cakes',
 'Customized Merchandise',
 'Cycling Classes',
 'Czech',
 'DIY Auto Shop',
 'DJs',
 'DUI Law',
 'Damage Restoration',
 'Dance Clubs',
 'Dance Schools',
 'Dance Studios',
 'Data Recovery',
 'Day Camps',
 'Day Spas',
 'Debt Relief Services',
 'Decks & Railing',
 'Delicatessen',
 'Delis',
 'Demolition Services',
 'Dental Hygienists',
 'Dentists',
 'Department Stores',
 'Departments of Motor Vehicles',
 'Dermatologists',
 'Desserts',
 'Diagnostic Imaging',
 'Diagnostic Services',
 'Dialysis Clinics',
 'Dim Sum',
 'Diners',
 'Dinner Theater',
 'Disc Golf',
 'Discount Store',
 'Distilleries',
 'Dive Bars',
 'Dive Shops',
 'Diving',
 'Divorce & Family Law',
 'Do-It-Yourself Food',
 'Doctors',
 'Dog Parks',
 'Dog Walkers',
 'Dominican',
 'Donairs',
 'Donuts',
 'Door Sales/Installation',
 'Doulas',
 'Drive-In Theater',
 'Drive-Thru Bars',
 'Driving Schools',
 'Drugstores',
 'Dry Cleaning & Laundry',
 'Drywall Installation & Repair',
 'Duty-Free Shops',
 'Ear Nose & Throat',
 'Eastern European',
 'Editorial Services',
 'Education',
 'Educational Services',
 'Egyptian',
 'Electricians',
 'Electronics',
 'Electronics Repair',
 'Elementary Schools',
 'Embassy',
 'Embroidery & Crochet',
 'Emergency Pet Hospital',
 'Emergency Rooms',
 'Empanadas',
 'Employment Agencies',
 'Employment Law',
 'Endocrinologists',
 'Endodontists',
 'Engraving',
 'Environmental Testing',
 'Escape Games',
 'Estate Liquidation',
 'Estate Planning Law',
 'Ethic Grocery',
 'Ethiopian',
 'Ethnic Food',
 'Ethnic Grocery',
 'Event Photography',
 'Event Planning & Services',
 'Eyelash Service',
 'Eyewear & Opticians',
 'Fabric Stores',
 'Face Painting',
 'Falafel',
 'Family Practice',
 'Farm Equipment Repair',
 'Farmers Market',
 'Farming Equipment',
 'Farms',
 'Fashion',
 'Fast Food',
 'Fences & Gates',
 'Feng Shui',
 'Ferries',
 'Fertility',
 'Festivals',
 'Filipino',
 'Financial Advising',
 'Financial Services',
 'Fingerprinting',
 'Fire Departments',
 'Fire Protection Services',
 'Firearm Training',
 'Fireplace Services',
 'Firewood',
 'Fireworks',
 'First Aid Classes',
 'Fish & Chips',
 'Fishing',
 'Fitness & Instruction',
 'Fitness/Exercise Equipment',
 'Flea Markets',
 'Flight Instruction',
 'Float Spa',
 'Flooring',
 'Florists',
 'Flowers',
 'Flowers & Gifts',
 'Flyboarding',
 'Fondue',
 'Food',
 'Food Banks',
 'Food Court',
 'Food Delivery Services',
 'Food Stands',
 'Food Tours',
 'Food Trucks',
 'Formal Wear',
 'Framing',
 'Free Diving',
 'French',
 'Fruits & Veggies',
 'Fuel Docks',
 'Funeral Services & Cemeteries',
 'Furniture Assembly',
 'Furniture Rental',
 'Furniture Repair',
 'Furniture Reupholstery',
 'Furniture Stores',
 'Game Truck Rental',
 'Garage Door Services',
 'Gardeners',
 'Gas & Service Stations',
 'Gastroenterologist',
 'Gastropubs',
 'Gay Bars',
 'Gelato',
 'General Dentistry',
 'General Festivals',
 'General Litigation',
 'German',
 'Gerontologists',
 'Gift Shops',
 'Glass & Mirrors',
 'Gluten-Free',
 'Go Karts',
 'Gold Buyers',
 'Golf',
 'Golf Cart Rentals',
 'Golf Equipment',
 'Golf Equipment Shops',
 'Golf Lessons',
 'Graphic Design',
 'Greek',
 'Grocery',
 'Guest Houses',
 'Guitar Stores',
 'Gun/Rifle Ranges',
 'Guns & Ammo',
 'Gutter Services',
 'Gymnastics',
 'Gyms',
 'Hair Extensions',
 'Hair Loss Centers',
 'Hair Removal',
 'Hair Salons',
 'Hair Stylists',
 'Haitian',
 'Halal',
 'Halotherapy',
 'Handyman',
 'Hang Gliding',
 'Hardware Stores',
 'Hats',
 'Haunted Houses',
 'Hawaiian',
 'Head Shops',
 'Health & Medical',
 'Health Markets',
 'Health Retreats',
 'Hearing Aid Providers',
 'Heating & Air Conditioning/HVAC',
 'Henna Artists',
 'Hepatologists',
 'Herbs & Spices',
 'High Fidelity Audio Equipment',
 'Hiking',
 'Himalayan/Nepalese',
 'Hindu Temples',
 'Historical Tours',
 'Hobby Shops',
 'Holiday Decorations',
 'Home & Garden',
 'Home & Rental Insurance',
 'Home Automation',
 'Home Cleaning',
 'Home Decor',
 'Home Energy Auditors',
 'Home Health Care',
 'Home Inspectors',
 'Home Network Installation',
 'Home Organization',
 'Home Services',
 'Home Staging',
 'Home Theatre Installation',
 'Home Window Tinting',
 'Homeless Shelters',
 'Homeowner Association',
 'Hong Kong Style Cafe',
 'Hookah Bars',
 'Horse Boarding',
 'Horse Equipment Shops',
 'Horse Racing',
 'Horseback Riding',
 'Hospice',
 'Hospitals',
 'Hostels',
 'Hot Air Balloons',
 'Hot Dogs',
 'Hot Pot',
 'Hot Tub & Pool',
 'Hotel bar',
 'Hotels',
 'Hotels & Travel',
 'House Sitters',
 'Hungarian',
 'Hunting & Fishing Supplies',
 'Hydrotherapy',
 'Hypnosis/Hypnotherapy',
 'IP & Internet Law',
 'IT Services & Computer Repair',
 'IV Hydration',
 'Ice Cream & Frozen Yogurt',
 'Immigration Law',
 'Indian',
 'Indonesian',
 'Indoor Playcentre',
 'Insulation Installation',
 'Insurance',
 'Interior Design',
 'Internal Medicine',
 'International',
 'Internet Cafes',
 'Internet Service Providers',
 'Investing',
 'Irish',
 'Irish Pub',
 'Irrigation',
 'Italian',
 'Japanese',
 'Jazz & Blues',
 'Jet Skis',
 'Jewelry',
 'Jewelry Repair',
 'Juice Bars & Smoothies',
 'Junk Removal & Hauling',
 'Karaoke',
 'Kebab',
 'Keys & Locksmiths',
 'Kids Activities',
 'Kitchen & Bath',
 'Knife Sharpening',
 'Knitting Supplies',
 'Kombucha',
 'Korean',
 'Kosher',
 'Laboratory Testing',
 'Lactation Services',
 'Lakes',
 'Landmarks & Historical Buildings',
 'Landscape Architects',
 'Landscaping',
 'Language Schools',
 'Laotian',
 'Laser Eye Surgery/Lasik',
 'Laser Hair Removal',
 'Laser Tag',
 'Latin American',
 'Lawyers',
 'Leather Goods',
 'Lebanese',
 'Legal Services',
 'Leisure Centers',
 'Libraries',
 'Lice Services',
 'Life Coach',
 'Life Insurance',
 'Lighting Fixtures & Equipment',
 'Limos',
 'Lingerie',
 'Live/Raw Food',
 'Livestock Feed & Supply',
 'Local Fish Stores',
 'Local Flavor',
 'Local Services',
 'Lounges',
 'Luggage',
 'Macarons',
 'Machine & Tool Rental',
 'Magicians',
 'Mailbox Centers',
 'Makeup Artists',
 'Malaysian',
 'Marinas',
 'Marketing',
 'Martial Arts',
 'Masonry/Concrete',
 'Mass Media',
 'Massage',
 'Massage Schools',
 'Massage Therapy',
 'Matchmakers',
 'Maternity Wear',
 'Mattresses',
 'Meat Shops',
 'Mediators',
 'Medical Cannabis Referrals',
 'Medical Centers',
 'Medical Spas',
 'Medical Supplies',
 'Medical Transportation',
 'Meditation Centers',
 'Mediterranean',
 "Men's Clothing",
 "Men's Hair Salons",
 'Metal Fabricators',
 'Mexican',
 'Middle Eastern',
 'Middle Schools & High Schools',
 'Midwives',
 'Mini Golf',
 'Mobile Dent Repair',
 'Mobile Home Parks',
 'Mobile Phone Accessories',
 'Mobile Phone Repair',
 'Mobile Phones',
 'Modern European',
 'Mongolian',
 'Montessori Schools',
 'Moroccan',
 'Mortgage Brokers',
 'Mosques',
 'Motorcycle Dealers',
 'Motorcycle Gear',
 'Motorcycle Rental',
 'Motorcycle Repair',
 'Motorsport Vehicle Dealers',
 'Motorsport Vehicle Repairs',
 'Mountain Biking',
 'Movers',
 'Museums',
 'Music & DVDs',
 'Music Production Services',
 'Music Venues',
 'Musical Instrument Services',
 'Musical Instruments & Teachers',
 'Musicians',
 'Nail Salons',
 'Nail Technicians',
 'Nanny Services',
 'Naturopathic/Holistic',
 'Neurologist',
 'Neurotologists',
 'New Mexican Cuisine',
 'Newspapers & Magazines',
 'Nightlife',
 'Noodles',
 'Notaries',
 'Nurse Practitioner',
 'Nurseries & Gardening',
 'Nursing Schools',
 'Nutritionists',
 'Observatories',
 'Obstetricians & Gynecologists',
 'Occupational Therapy',
 'Office Cleaning',
 'Office Equipment',
 'Officiants',
 'Oil Change Stations',
 'Olive Oil',
 'Oncologist',
 'Opera & Ballet',
 'Ophthalmologists',
 'Optometrists',
 'Oral Surgeons',
 'Organic Stores',
 'Oriental',
 'Orthodontists',
 'Orthopedists',
 'Orthotics',
 'Osteopathic Physicians',
 'Outdoor Furniture Stores',
 'Outdoor Gear',
 'Outlet Stores',
 'Oxygen Bars',
 'Paddleboarding',
 'Pain Management',
 'Paint & Sip',
 'Paint Stores',
 'Paint-Your-Own Pottery',
 'Paintball',
 'Painters',
 'Pakistani',
 'Palatine',
 'Parenting Classes',
 'Parking',
 'Parks',
 'Party & Event Planning',
 'Party Bike Rentals',
 'Party Bus Rentals',
 'Party Characters',
 'Party Equipment Rentals',
 'Party Supplies',
 'Passport & Visa Services',
 'Pasta Shops',
 'Patio Coverings',
 'Patisserie/Cake Shop',
 'Pawn Shops',
 'Payroll Services',
 'Pediatric Dentists',
 'Pediatricians',
 'Pedicabs',
 'Performing Arts',
 'Perfume',
 'Periodontists',
 'Permanent Makeup',
 'Persian/Iranian',
 'Personal Assistants',
 'Personal Chefs',
 'Personal Injury Law',
 'Personal Shopping',
 'Peruvian',
 'Pest Control',
 'Pet Adoption',
 'Pet Boarding/Pet Sitting',
 'Pet Breeders',
 'Pet Cremation Services',
 'Pet Groomers',
 'Pet Hospice',
 'Pet Photography',
 'Pet Services',
 'Pet Stores',
 'Pet Training',
 'Pets',
 'Pharmacy',
 'Photo Booth Rentals',
 'Photographers',
 'Photography Stores & Services',
 'Physical Therapy',
 'Piano Bars',
 'Piano Services',
 'Piano Stores',
 'Pick Your Own Farms',
 'Piercing',
 'Pilates',
 'Pita',
 'Pizza',
 'Placenta Encapsulations',
 'Planetarium',
 'Playgrounds',
 'Plumbing',
 'Plus Size Fashion',
 'Podiatrists',
 'Poke',
 'Pole Dancing Classes',
 'Police Departments',
 'Polish',
 'Pool & Billiards',
 'Pool & Hot Tub Service',
 'Pool Cleaners',
 'Pool Halls',
 'Pop-up Shops',
 'Popcorn Shops',
 'Portuguese',
 'Post Offices',
 'Poutineries',
 'Powder Coating',
 'Prenatal/Perinatal Care',
 'Preschools',
 'Pressure Washers',
 'Pretzels',
 'Preventive Medicine',
 'Print Media',
 'Printing Services',
 'Private Investigation',
 'Private Tutors',
 'Process Servers',
 'Proctologists',
 'Product Design',
 'Professional Services',
 'Professional Sports Teams',
 'Propane',
 'Property Management',
 'Prosthetics',
 'Prosthodontists',
 'Psychiatrists',
 'Psychics & Astrologers',
 'Psychologists',
 'Public Plazas',
 'Public Relations',
 'Public Services & Government',
 'Public Transportation',
 'Pubs',
 'Puerto Rican',
 'Pulmonologist',
 'Pumpkin Patches',
 'RV Dealers',
 'RV Parks',
 'RV Rental',
 'RV Repair',
 'Race Tracks',
 'Races & Competitions',
 'Racing Experience',
 'Radio Stations',
 'Radiologists',
 'Rafting/Kayaking',
 'Ramen',
 'Real Estate',
 'Real Estate Agents',
 'Real Estate Law',
 'Real Estate Photography',
 'Real Estate Services',
 'Recording & Rehearsal Studios',
 'Recreation Centers',
 'Recycling Center',
 'Refinishing Services',
 'Reflexology',
 'Registration Services',
 'Rehabilitation Center',
 'Reiki',
 'Religious Organizations',
 'Religious Schools',
 'Reptile Shops',
 'Resorts',
 'Rest Stops',
 'Restaurants',
 'Retirement Homes',
 'Rheumatologists',
 'Rhinelandian',
 'Roadside Assistance',
 'Rock Climbing',
 'Rodeo',
 'Rolfing',
 'Roofing',
 'Rugs',
 'Russian',
 'Salad',
 'Salvadoran',
 'Sandwiches',
 'Saunas',
 'Scandinavian',
 'Scottish',
 'Screen Printing',
 'Screen Printing/T-Shirt Printing',
 'Scuba Diving',
 'Seafood',
 'Seafood Markets',
 'Security Services',
 'Security Systems',
 'Self Storage',
 'Senegalese',
 'Septic Services',
 'Serbo Croatian',
 'Session Photography',
 'Sewing & Alterations',
 'Shades & Blinds',
 'Shanghainese',
 'Shared Office Spaces',
 'Shaved Ice',
 'Shipping Centers',
 'Shoe Repair',
 'Shoe Shine',
 'Shoe Stores',
 'Shopping',
 'Shopping Centers',
 'Shredding Services',
 'Shutters',
 'Signmaking',
 'Singaporean',
 'Skate Parks',
 'Skate Shops',
 'Skating Rinks',
 'Ski & Snowboard Shops',
 'Ski Resorts',
 'Skilled Nursing',
 'Skin Care',
 'Skydiving',
 'Sledding',
 'Sleep Specialists',
 'Slovakian',
 'Smog Check Stations',
 'Soccer',
 'Social Clubs',
 'Software Development',
 'Solar Installation',
 'Solar Panel Cleaning',
 'Soul Food',
 'Soup',
 'Southern',
 'Souvenir Shops',
 'Spanish',
 'Special Education',
 'Specialty Food',
 'Specialty Schools',
 'Speech Therapists',
 'Spine Surgeons',
 'Spiritual Shop',
 'Sporting Goods',
 'Sports Bars',
 'Sports Clubs',
 'Sports Medicine',
 'Sports Psychologists',
 'Sports Wear',
 'Spray Tanning',
 'Sri Lankan',
 'Stadiums & Arenas',
 'Steakhouses',
 'Street Vendors',
 'Stucco Services',
 'Sugaring',
 'Summer Camps',
 'Supper Clubs',
 'Surf Shop',
 'Surfing',
 'Surgeons',
 'Sushi Bars',
 'Swimming Lessons/Schools',
 'Swimming Pools',
 'Swimwear',
 'Swiss Food',
 'Synagogues',
 'Szechuan',
 'TV Mounting',
 'Tabletop Games',
 'Tai Chi',
 'Taiwanese',
 'Talent Agencies',
 'Tanning',
 'Tanning Beds',
 'Tapas Bars',
 'Tapas/Small Plates',
 'Tasting Classes',
 'Tattoo',
 'Tattoo Removal',
 'Tax Law',
 'Tax Services',
 'Taxis',
 'Tea Rooms',
 'Teeth Whitening',
 'Telecommunications',
 'Television Service Providers',
 'Television Stations',
 'Tennis',
 'Teppanyaki',
 'Test Preparation',
 'Tex-Mex',
 'Thai',
 'Threading Services',
 'Thrift Stores',
 'Ticket Sales',
 'Tiki Bars',
 'Tiling',
 'Tires',
 'Title Loans',
 'Tobacco Shops',
 'Tours',
 'Towing',
 'Town Car Service',
 'Toy Stores',
 'Traditional Chinese Medicine',
 'Traffic Schools',
 'Traffic Ticketing Law',
 'Trailer Dealers',
 'Trailer Repair',
 'Train Stations',
 'Trainers',
 'Trains',
 'Trampoline Parks',
 'Translation Services',
 'Transmission Repair',
 'Transportation',
 'Travel Agents',
 'Travel Services',
 'Tree Services',
 'Trinidadian',
 'Trophy Shops',
 'Truck Rental',
 'Turkish',
 'Tuscan',
 'Tutoring Centers',
 'Ukrainian',
 'Uniforms',
 'University Housing',
 'Unofficial Yelp Events',
 'Urgent Care',
 'Urologists',
 'Used Bookstore',
 'Used, Vintage & Consignment',
 'Utilities',
 'Uzbek',
 'Vacation Rental Agents',
 'Vacation Rentals',
 'Valet Services',
 'Vape Shops',
 'Vascular Medicine',
 'Vegan',
 'Vegetarian',
 'Vehicle Shipping',
 'Vehicle Wraps',
 'Venezuelan',
 'Venues & Event Spaces',
 'Veterinarians',
 'Video Game Stores',
 'Video/Film Production',
 'Videographers',
 'Videos & Video Game Rental',
 'Vietnamese',
 'Vinyl Records',
 'Vinyl Siding',
 'Visitor Centers',
 'Vitamins & Supplements',
 'Vocational & Technical School',
 'Waffles',
 'Walk-in Clinics',
 'Walking Tours',
 'Watch Repair',
 'Watches',
 'Water Delivery',
 'Water Heater Installation/Repair',
 'Water Parks',
 'Water Purification Services',
 'Water Stores',
 'Waxing',
 'Web Design',
 'Wedding Chapels',
 'Wedding Planning',
 'Weight Loss Centers',
 'Well Drilling',
 'Wheel & Rim Repair',
 'Whiskey Bars',
 'Wholesale Stores',
 ...]

I want to flatten this out and make sure I have one row per business. But businesses have multipler categories.
To solve this I'm creating one boolean column per category.

Not the tidiest thing but will make counting by category much simpler.

In [12]:
def bool_column_name(col):
    return 'is_{}'.format(col)

def check_category(category, df):
    df = df.copy()
    column_name = bool_column_name(category)
    df[column_name] = df.categories.apply(lambda x: category in x)
    
    return df[df[column_name]]

In [13]:
def category_flattener(df, categories):
    df = df.copy()
    category_columns = [bool_column_name(cat) for cat in categories]
    category_map = dict(zip(category_columns, categories))
    for cat_col, cat in category_map.items():
        df[cat_col] = df.categories.apply(lambda x: cat in x)
    
    return df[category_columns]

In [ ]:
biz = biz.set_index('business_id')

In [ ]:
biz_categories = category_flattener(biz, categories=categories)

In [ ]:
biz_categories

In [ ]:
category_count = biz_categories.sum()

Below, we can count each category. Restaurant is the most common.

In [ ]:
category_count.sort_values(ascending=False).head(20)

What's interesting is that there is hierarchical data here despite not a clear hierarchical structure.

For example, all Bars are Nightlife, but not all Nightlife are Bars (see below)

Furthermore, Restaurant is a giant umbrella for pretty much all food type categories (e.g. Mexican)

For the preliminary analysis I'm going to just use Nightlife, Restaurant, and Food (which is apparently generally grocery stores). However there is likely value in subcategories.

In [ ]:
biz_categories[['is_Nightlife', 'is_Bars']].all(axis=1).sum()

In [ ]:
check_category('Food', biz).head()

# Zip code parsing

This got buried so I'm giving it a header!

Important to note, not all businesses have zip code in their address. Something like 9K are missing it.
I have a method to backfill using reverse geocoding from the google maps API, because all businesses have a latitude and longitude pair, but haven't quite worked it out yet so will just ignore null zips for the preliminary analysis.

In [ ]:
biz['zip_code'] = biz['full_address'].str.extract('([0-9]{5})', expand=True).astype(float)

# Get review data

In [ ]:
reviews=[]
with open('yelp/yelp_academic_dataset_review.json') as f:
   
    lines = f.readlines()
    for line in lines:
        data = json.loads(line.strip('\n'))
        del data['text']
        reviews.append(data)

In [ ]:
review_df = (pd.DataFrame(reviews)
               .assign(date=lambda x: pd.to_datetime(x['date']))
              )

In [ ]:
review_df.head()

Here, I am assuming the first review is whent he business opened. Obviously not totally accurate but should be a reasonable proxy. It assumes Yelp is being used reliably in all zip codes under investgigation which may be a faulty assumption.

In [ ]:
review_agg = (review_df.groupby('business_id')
                       .agg({'date':min, 'stars':np.mean})
                       .rename(columns={'date':'first_seen_date', 'stars':'mean_stars'})
             )

In [ ]:
review_agg.head()

In [ ]:
biz_reviews = biz.join(review_agg)

In [ ]:
biz_reviews.head()

In [ ]:
biz_reviews['month'] = pd.DatetimeIndex(biz_reviews.first_seen_date).to_period('M')

In [ ]:
biz_reviews = biz_reviews.join(biz_categories)

In [ ]:
biz_categories.is_Restaurants.head()

In [ ]:
def counter(df, categories):
    df = df.copy().reset_index()
    return df[df[categories]].groupby(['zip_code', 'month']).business_id.count()

In [ ]:
restaurant_counts = counter(biz_reviews, 'is_Restaurants').reset_index()
restaurant_counts.zip_code = restaurant_counts.zip_code.astype(int)

In [ ]:
zillow.month = pd.DatetimeIndex(zillow.month).to_period('M')

In [ ]:
zillow.head()

In [ ]:
combined = pd.merge(zillow, restaurant_counts.reset_index(), how='left', on=['zip_code', 'month'])

In [ ]:
zillow.dtypes

In [ ]:
pitt = combined[combined.city == 'Pittsburgh'].fillna(0)
first_month = pitt[pitt.business_id > 0].month.min()
pitt[pitt.business_id  > 0].head()

In [ ]:
pitt.dtypes

In [ ]:
pitt = pitt[pitt.month >= first_month]
pitt = pitt.set_index(['zip_code', 'month'])
pitt = pitt.sort_index()

In [ ]:
pitt_biz_growth = (pitt
                   .groupby(level=['zip_code', 'month'])
                   .business_id.sum()
                   .groupby(level=['zip_code'])
                   .cumsum()
                  )

In [ ]:
pitt_biz_growth.xs(15206, level='zip_code').tail()

In [ ]:
g = sns.FacetGrid(data=pitt_biz_growth.reset_index(), col='zip_code', col_wrap=3)
g = g.map(sns.pointplot, 'month', 'business_id')

In [ ]:
pitt.groupby(level='zip_code').median_price.median()

In [ ]:
pitt_prices.month.min()

In [ ]:
pitt_prices = pitt.reset_index()
pitt_prices = pitt_prices[pitt_prices.month > first_month]
s = sns.FacetGrid(data=pitt_prices.reset_index(), col='zip_code', col_wrap=3)
s = s.map(sns.pointplot, 'month', 'median_price')